<h1>Bookmark Manager</h1>
<h2>Add a new bookmark</h2>
<form action="/links" method="post">
  <div>
    <label for="url">URL: 
      <input type="text" name="url">
    </label>
  </div>
  <div>
    <label for="title">Title: 
      <input type="text" name="title">
    </label>
  </div>
  <div>
    <label for="title">Tags: 
      <input type="text" name="tags">
    </label>
  </div>
  <div>
     <input type="submit" value="Submit">
  </div>
</form>
